.bg-def_ttzc {
    width: 262px; height: 128px;
    background: url('css_sprites.png') -1px -1px;
}
.bg-def_kpi {
    width: 262px; height: 150px;
    background: url('css_sprites.png') -1px -131px;
}
.bg-def_avpv {
    width: 262px; height: 150px;
    background: url('css_sprites.png') -1px -283px;
}