.bg-def_vispen {
    width: 262px; height: 150px;
    background: url('css_sprites.png') -1px -1px;
}
.bg-def_visolap {
    width: 262px; height: 150px;
    background: url('css_sprites.png') -1px -153px;
}

.bg-def_visorig {
    width: 262px; height: 150px;
    background: url('css_sprites.png') -1px -305px;
}