.bg-icon_dwell {
    width: 25px; height: 25px;
    background: url('css_sprites.png') -1px -1px;
}

.bg-icon_income {
    width: 25px; height: 25px;
    background: url('css_sprites.png') -28px -1px;
}

.bg-icon_population {
    width: 25px; height: 25px;
    background: url('css_sprites.png') -55px -1px;
}

.bg-icon_age {
    width: 25px; height: 25px;
    background: url('css_sprites.png') -82px -1px;
}

.bg-icon_car {
    width: 25px; height: 25px;
    background: url('css_sprites.png') -109px -1px;
}

.bg-icon_college {
    width: 25px; height: 25px;
    background: url('css_sprites.png') -136px -1px;
}

.bg-icon_diversity {
    width: 25px; height: 25px;
    background: url('css_sprites.png') -163px -1px;
}

