@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: url("fonts/Roboto Regular V2.eot"); src: url("fonts/Roboto Regular V2.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto Regular V2.woff2") format("woff2"), url("fonts/Roboto Regular V2.woff") format("woff"), url("fonts/Roboto Regular V2.ttf") format("truetype"), url("fonts/Roboto Regular V2.svg#Roboto Regular V2") format("svg"); }
@font-face { font-family: 'Roboto'; font-style: italic; font-weight: 400; src: url("fonts/Roboto Italic V2.eot"); src: url("fonts/Roboto Italic V2.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto Italic V2.woff2") format("woff2"), url("fonts/Roboto Italic V2.woff") format("woff"), url("fonts/Roboto Italic V2.ttf") format("truetype"), url("fonts/Roboto Italic V2.svg#Roboto Italic V2") format("svg"); }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 700; src: url("fonts/Roboto Bold V2.eot"); src: url("fonts/Roboto Bold V2.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto Bold V2.woff2") format("woff2"), url("fonts/Roboto Bold V2.woff") format("woff"), url("fonts/Roboto Bold V2.ttf") format("truetype"), url("fonts/Roboto Bold V2.svg#Roboto Bold V2") format("svg"); }
@font-face { font-family: 'Lato'; font-style: normal; font-weight: 400; src: url("fonts/Lato Regular.eot"); src: url("fonts/Lato Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Lato Regular.woff2") format("woff2"), url("fonts/Lato Regular.woff") format("woff"), url("fonts/Lato Regular.ttf") format("truetype"), url("fonts/Lato Regular.svg#Lato Regular") format("svg"); }
@font-face { font-family: 'Lato'; font-style: normal; font-weight: 700; src: url("fonts/Lato Bold.eot"); src: url("fonts/Lato Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Lato Bold.woff2") format("woff2"), url("fonts/Lato Bold.woff") format("woff"), url("fonts/Lato Bold.ttf") format("truetype"), url("fonts/Lato Bold.svg#Lato Bold") format("svg"); }
h1, h2, h3 { color: #414042; display: block; font-family: "Lato", Verdana, Geneva, sans-serif; font-weight: 700; margin-left: 0; margin-right: 0; }

h1 span { display: block; margin-bottom: 0; }

table.doc-tables thead tr th:first-child, table.doc-tables tbody tr td:first-child { padding-left: 10px !important; padding-right: 10px !important; text-align: left; }

table.doc-tables thead tr th:last-child, table.doc-tables tbody tr td:last-child { padding-left: 0 !important; padding-right: 10px !important; text-align: right; }

*:focus { outline-color: #4fa2d9 !important; outline-style: thin dotted !important; }

html { font-size: 100%; line-height: 1.32; -moz-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; }

body { background-color: #f1f2f2; color: #6d6e71; font-family: "Roboto", Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif; font-size: 1em; }

header, main, summary, footer { display: block; }

a, a:active, a:hover, a:visited { color: #4fa2d9; text-decoration: none !important; cursor: pointer; }

a:active, a:hover { outline: 0; }

.italic { font-style: italic !important; }

.center-text { text-align: center !important; }

.caps { text-transform: uppercase !important; }

.strong, .bold, strong, b { color: #414042; font-weight: 700; }

div { display: block; }
div.wrapper--main-content { background-color: #fff; border-radius: 12px; -moz-box-shadow: 10px 10px 15px rgba(109, 110, 113, 0.85); -webkit-box-shadow: 10px 10px 15px rgba(109, 110, 113, 0.85); box-shadow: 10px 10px 15px rgba(109, 110, 113, 0.85); margin: 2em auto; max-width: 900px; padding: 2em 2.5em 1em; text-align: justify; }
div.wrapper--list { margin-left: -1ch; }

span.roman-numerals { color: #2a3c68; font-weight: 700; text-transform: uppercase; }
span.indented { margin-left: 1ch; }

h1 { font-size: 1.75em; margin-top: 0; margin-bottom: 1em; text-align: center; text-transform: uppercase; }
h1.multiline { margin-bottom: 0.5em; }
h1 span.header--bottomLine { font-size: .7em; margin-bottom: 0; text-transform: none; }

h2 { font-size: 1.25em; margin-top: 1.5em; margin-bottom: .75em; text-transform: uppercase; }
h2.header--modifiedDate { font-size: 1.1em; margin-top: 0; text-transform: none; }
h2.header--modifiedDate time { font-style: italic !important; }
h2#attachment1, h2#attachment2 { font-size: 1.5em; margin-top: 3em; }

h3 { font-size: 1.125em; margin-top: 1em; margin-bottom: 0.666em; }

p { display: block; font-size: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0; margin-top: 1em; }
p.paragraph-same-section { margin-top: 0; }
p.paragraph-same-section--top { margin-bottom: 0.5em; }

address { display: block !important; font-style: normal; text-align: center; }
address.address-footer { margin-top: 5em; }
address span.disable-links { pointer-events: none; }
address span.disable-links a { color: #6d6e71; }

ul { color: #2a3c68; display: block; list-style-type: disc; margin-top: 1em; margin-bottom: 0; margin-left: 0; margin-right: 0; padding-left: 40px; }
ul li { line-height: 1.1; margin-bottom: .75em; }
ul li span { color: #6d6e71; }
ul li span strong, ul li span em { color: #414042; }

ol { color: #6d6e71; display: block; list-style-type: lower-alpha; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 1em; padding-left: 40px; }
ol li { line-height: 1; }
ol li span { color: #6d6e71; }

.wrapper--table { overflow-x: auto; margin: 0 auto; padding-bottom: 10px; width: 85%; }

table { border-collapse: collapse; border-spacing: 0; margin: 0 auto; page-break-inside: avoid; }
table.doc-tables { border: 2px solid #bcbec0; -moz-box-shadow: 5px 5px 10px rgba(109, 110, 113, 0.8); -webkit-box-shadow: 5px 5px 10px rgba(109, 110, 113, 0.8); box-shadow: 5px 5px 10px rgba(109, 110, 113, 0.8); margin-bottom: 16px; text-align: center; vertical-align: middle; min-width: 500px; max-width: 675px; }
table.doc-tables thead { display: table-header-group; }
table.doc-tables thead tr { page-break-inside: avoid; page-break-after: auto; }
table.doc-tables thead tr th { background-color: #2a3c68; border-bottom: 2px solid #bcbec0; color: #fff; padding: 14px; font-weight: 400; text-align: center; }
table.doc-tables tbody tr { font-size: .875em; page-break-inside: avoid; page-break-after: auto; }
table.doc-tables tbody tr td { border: 1px solid #bcbec0; padding: .4em .6em; }
table#table__privacy_1, table#table__privacy_2 { text-align: left; max-width: 750px; min-width: 560px; }
table#table__privacy_2 thead tr th:first-child, table#table__privacy_2 tbody tr td:first-child { width: 35%; }

@media print { * { color: #000 !important; -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; text-shadow: none !important; background-color: #fff !important; }
  html { background-color: #fff; }
  body, li { line-height: 1.5 !important; }
  table { margin: 0; max-width: 100% !important; min-width: 100% !important; padding: 0; page-break-inside: avoid; width: 100% !important; }
  tr { page-break-inside: avoid; page-break-after: auto; }
  td { padding: 0.2em 0.3em; }
  .wrapper--table { margin: 0; max-width: 100% !important; min-width: 100% !important; overflow-x: initial; width: 100% !important; }
  a[href] { font-weight: 700; text-decoration: none; color: #2a3c68; border: none; }
  a[href^='javascript:'], a[href^='#'], a[data-linkcontent='url'] { font-weight: 400; } }
@page { size: 8.5in 11in; margin: 0.6in; }

/*# sourceMappingURL=document-styles.css.map */
