// Variable declarations
// Color palette variables
$color--black: #000;
$color--offBlack: #414042; // Heading text
$color--gray: #6d6e71; // Paragraph text
$color--lightGray: #a7a9ac;
$color--silver: #bcbec0; // Table borders
$color--darkBlue: #2a3c68;
$color--blue: #4fa2d9;
$color--offWhite: #f1f2f2;
$color--white: #fff;
$color--AltOffWhite: #f8f9f9;

// Font variables
$font--roboto:  'Roboto',
                Helvetica Neue,
                HelveticaNeue,
                Helvetica-Neue,
                Helvetica,
                BBAlpha Sans,
                sans-serif;

$font--lato:  'Lato',
              Verdana,
              Geneva,
              sans-serif;

// Font definitions
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Roboto Regular V2.eot');
  src: url('fonts/Roboto Regular V2.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto Regular V2.woff2') format('woff2'),
    url('fonts/Roboto Regular V2.woff') format('woff'),
    url('fonts/Roboto Regular V2.ttf') format('truetype'),
    url('fonts/Roboto Regular V2.svg#Roboto Regular V2') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/Roboto Italic V2.eot');
  src: url('fonts/Roboto Italic V2.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto Italic V2.woff2') format('woff2'),
    url('fonts/Roboto Italic V2.woff') format('woff'),
    url('fonts/Roboto Italic V2.ttf') format('truetype'),
    url('fonts/Roboto Italic V2.svg#Roboto Italic V2') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Roboto Bold V2.eot');
  src: url('fonts/Roboto Bold V2.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto Bold V2.woff2') format('woff2'),
    url('fonts/Roboto Bold V2.woff') format('woff'),
    url('fonts/Roboto Bold V2.ttf') format('truetype'),
    url('fonts/Roboto Bold V2.svg#Roboto Bold V2') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Lato Regular.eot');
  src: url('fonts/Lato Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Lato Regular.woff2') format('woff2'),
  url('fonts/Lato Regular.woff') format('woff'),
  url('fonts/Lato Regular.ttf') format('truetype'),
  url('fonts/Lato Regular.svg#Lato Regular') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Lato Bold.eot');
  src: url('fonts/Lato Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Lato Bold.woff2') format('woff2'),
    url('fonts/Lato Bold.woff') format('woff'),
    url('fonts/Lato Bold.ttf') format('truetype'),
    url('fonts/Lato Bold.svg#Lato Bold') format('svg');
}

// Styling
// Passive styles
%headers {
  color: $color--offBlack;
  display: block;
  font-family: $font--lato;
  font-weight: 700;
  margin-left: 0;
  margin-right: 0
}

%header-multilines {
  display: block;
  margin-bottom: 0
}

%left-column {
  padding-left: 10px !important;
  padding-right: 10px !important;
  text-align: left
}

%right-column {
  padding-left: 0 !important;
  padding-right: 10px !important;
  text-align: right
}

*:focus {
  outline-color: $color--blue !important;
  outline-style: thin dotted !important
}

html {
  font-size: 100%;
  line-height: 1.32;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif
}

body {
  background-color: $color--offWhite;
  color: $color--gray;
  font-family: $font--roboto;
  font-size: 1em
}

header,
main,
summary,
footer {
  display: block
}

a,
a:active,
a:hover,
a:visited {
  color: $color--blue;
  text-decoration: none !important;
  cursor: pointer
}

a:active,
a:hover {
  outline: 0
}

.italic {
  font-style: italic !important
}

.center-text {
  text-align: center !important
}

.caps {
  text-transform: uppercase !important
}

.strong,
.bold,
strong,
b {
  color: $color--offBlack;
  font-weight: 700
}

div {
  display: block;

  &.wrapper {
    &--main-content {
      background-color: $color--white;
      border-radius: 12px;
      -moz-box-shadow: 10px 10px 15px rgba($color--gray, .85);
      -webkit-box-shadow: 10px 10px 15px rgba($color--gray, .85);
      box-shadow: 10px 10px 15px rgba($color--gray, .85);
      margin: 2em auto;
      max-width: 900px;
      padding: 2em 2.5em 1em;
      text-align: justify
    }

    &--list {
      margin-left: -1ch
    }
  }
}

span {
  &.roman-numerals {
    color: $color--darkBlue;
    font-weight: 700;
    text-transform: uppercase
  }

  &.indented {
    margin-left: 1ch
  }
}

h1, h2, h3 { @extend %headers }

h1 {
  font-size: 1.75em;
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;

  &.multiline {
    margin-bottom: .5em
  }

  span {
    @extend %header-multilines;

    &.header--bottomLine {
      font-size: .7em;
      margin-bottom: 0;
      text-transform: none
    }
  }
}

h2 {
  font-size: 1.25em;
  margin-top: 1.5em;
  margin-bottom: .75em;
  text-transform: uppercase;

  &.header--modifiedDate {
    font-size: 1.1em;
    margin-top: 0;
    text-transform: none;

    time {
      font-style: italic !important
    }
  }

  &#attachment1,
  &#attachment2 {
    font-size: 1.5em;
    margin-top: 3em
}
}

h3 {
  font-size: 1.125em;
  margin-top: 1em;
  margin-bottom: .666em
}

p {
  display: block;
  font-size: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;

  &.paragraph {
    &-same-section {
      margin-top: 0;

      &--top {
        margin-bottom: .5em
      }
    }
  }
}

address {
  display: block !important;
  font-style: normal;
  text-align: center;

  &.address-footer {
    margin-top: 5em
  }

  span.disable-links {
    pointer-events: none;

    a {
      color: $color--gray
    }
  }
}

ul {
  color: $color--darkBlue;
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;

  li {
    line-height: 1.1;
    margin-bottom: .75em;

    span {
      color: $color--gray;

      strong, em {
        color: $color--offBlack
      }
    }
  }
}

ol {
  color: $color--gray;
  display: block;
  list-style-type: lower-alpha;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  padding-left: 40px;

  li {
    line-height: 1;

    span {
      color: $color--gray
    }
  }
}

.wrapper--table {
  overflow-x: auto;
  margin: 0 auto;
  padding-bottom: 10px;
  width: 85%
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  page-break-inside: avoid;

  &.doc-tables {
    border: 2px solid $color--silver;
    -moz-box-shadow: 5px 5px 10px rgba($color--gray, .8);
    -webkit-box-shadow: 5px 5px 10px rgba($color--gray, .8);
    box-shadow: 5px 5px 10px rgba($color--gray, .8);
    margin-bottom: 16px;
    text-align: center;
    vertical-align: middle;
    min-width: 500px;
    max-width: 675px;

    thead {
      display:table-header-group;

      tr{
        page-break-inside: avoid;
        page-break-after: auto;

        th {
          background-color: $color--darkBlue;
          border-bottom: 2px solid $color--silver;
          color: $color--white;
          padding: 14px;
          font-weight: 400;
          text-align: center;

          &:first-child {
            @extend %left-column
          }

          &:last-child {
            @extend %right-column
          }
        }
      }
    }

    tbody tr {
      font-size: .875em;
      page-break-inside:avoid;
      page-break-after:auto;

      td {
        border: 1px solid $color--silver;
        padding: .4em .6em;

        &:first-child {
          @extend %left-column
        }

        &:last-child {
          @extend %right-column
        }
      }
    }
  }

  &#table__privacy_1,
  &#table__privacy_2 {
    text-align: left;
    max-width: 750px;
    min-width: 560px
  }

  &#table__privacy_2 {
    thead tr th:first-child,
    tbody tr td:first-child {
      width: 35%
    }
  }
}

// Print Styles
@media print {
  * {
      color: #000 !important;
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
      background-color: #fff !important
  }

  html { background-color: #fff }

  body, li { line-height: 1.5 !important }

  table {
    margin: 0;
    max-width: 100% !important;
    min-width: 100% !important;
    padding: 0;
    page-break-inside: avoid;
    width: 100% !important;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  td { padding: .2em .3em }

  .wrapper--table {
    margin: 0;
    max-width: 100% !important;
    min-width: 100% !important;
    overflow-x: initial;
    width: 100% !important
  }

  a[href] {
      font-weight: 700;
      text-decoration: none;
      color: $color--darkBlue;
      border: none
  }

  a[href^='javascript:'],
  a[href^='#'],
  a[data-linkcontent='url'] {
    font-weight: 400;
  }
}
@page {
  size: 8.5in 11in;
  margin: .6in
}
