.bg-icon_double_down {
    width: 64px; height: 64px;
    background: url('css_sprites.png') -284px -139px;
}

.bg-logo_primary_alt_white {
    width: 281px; height: 133px;
    background: url('css_sprites.png') -1px -1px;
}

.bg-logo_primary_reversed {
    width: 200px; height: 100px;
    background: url('css_sprites.png') -1px -136px;
}

.bg-logo_primary_reversed_sm {
    width: 141px; height: 70px;
    background: url('css_sprites.png') -284px -1px;
}

.bg-logo_secondary {
    width: 67px; height: 30px;
    background: url('css_sprites.png') -350px -171px;
}

.bg-logo_secondary_reversed_sm {
    width: 68px; height: 30px;
    background: url('css_sprites.png') -350px -139px;
}

.bg-icon_trend {
    width: 77px; height: 64px;
    background: url('css_sprites.png') -284px -73px;
}