.bg-benchmark {
    width: 180px; height: 153px;
    background: url('css_sprites.png') -1px -1px;
}

.bg-ttzc {
    width: 180px; height: 154px;
    background: url('css_sprites.png') -1px -311px;
}

.bg-vis_dem {
    width: 180px; height: 154px;
    background: url('css_sprites.png') -1px -467px;
}

.bg-vis_pen {
    width: 180px; height: 153px;
    background: url('css_sprites.png') -1px -156px;
}

.bg-bef_aft {
    width: 180px; height: 155px;
    background: url('css_sprites.png') -1px -623px;
}